.temperature {
  font-size: 46px !important;
}

.unit {
  font-size: 13px;
  position: relative;
  top: -20px;
  margin-left: 5px;
}

a {
  color: blue;
  text-decoration: none !important;
}

.unselected {
  color: black;
  font-weight: 500;
  opacity: 0.5;
}
